

snippet im "import img in ankivim" b
<img src = "$1"/>
endsnippet

snippet oli "make a ordert list" b
<ol>
 <li>$1</li>
</ol> 
endsnippet

snippet li "make a unordert list" b
<ul>
 <li>$1</li>
</ul> 
endsnippet


snippet dli "make a description list" b
<dl>
 <dt>$1</dt>
   <dd>-black hot drink</dd>
</dl> 
endsnippet

snippet test "test snippet" b

`ls -l`

endsnippet
